body {
    background-color: rgb(49, 49, 49);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font: bold; */
    color: white;
}

.info {
    
    font-size: 50pt;
}

canvas {
    background-color: rgb(54, 54, 54);
    /* position: absolute; */
    position: relative;
}

@media (max-width: 500px) {
    canvas {
        width: 100%;
        height: auto;
}
}

button {
    width: 120px;
    height: 60px;

}